.field {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #000;
}

.field__item {
  width: 5rem;
  height: 5rem;
}

.filter__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter__item {
  padding: 0.5rem 1rem;
  background-color: lightgray;
  cursor: pointer;
}

.filter__item_active {
  background-color: rgb(255, 229, 97);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}
