@import '../variables.scss';

.partners {
  padding: 10.25rem $padding-x-xl 8.875rem;
  background-color: $bg-primary;

  @media (max-width: 1200px) {
    padding: 5.625rem $padding-x-m 6.375rem;
  }

  @media (max-width: 768px) {
    padding: 3.75rem $padding-x-s;
  }

  &__heading {
    margin: 0 0 3rem;
  }

  &__swiper {
    margin-bottom: 2rem;
  }

  &__wrapper {
    align-items: center;
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-items: center;
      gap: 4rem;
    }

    & > img {
      max-width: 30%;
      height: 100%;
      width: auto;

      @media (max-width: 768px) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
