// Colors

$bg-primary: #ffffff;
$bg-secondary: #f9f9f9;

// paddings

$padding-x-xl: 7.5rem;
$padding-x-m: 2.625rem;
$padding-x-s: 1rem;

$paddingAbout-y-xl: 7.75rem;
$paddingAbout-y-m: 6rem;
$paddingAbout-y-s: 3.75rem;
